@import "_reset.scss";
@import "_media-queries.scss";
@import "_mixins.scss";
@import "_variables.scss";

.main {
  width: 1600px;
  margin: auto;
  @include flex-column;
}

.header {
  width: $content-width;
  margin: auto;
}

.hamburger {
  display: none;
  background-color: #000;
  width: 44px;
  height: 37px;
}

.bar {
  display: block;
  width: 25px;
  position: relative;
  top: 10px;
  height: 2px;
  margin: 2px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.header-nav {
  width: calc(1600px - 393px - 393px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px auto 51px;

  .header-nav-link {
    text-transform: uppercase;
    text-decoration: none;
    @include font-family-and-style;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    color: $text-color;

    &:hover {
      color: #57a4a4;
    }
  }
}

.recent-posts {
  margin: 66px auto 69px;
  width: $content-width;

  &-block {
    display: flex;
    gap: 21px;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
  }

  &-title {
    @include font-family-and-style;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $text-color;
  }

  &-column {
    @include flex-column;
    gap: 32px;
    width: 48%;
  }

  &-block-title {
    @include font-family-and-style;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: $text-color;
  }

  &-block-comment {
    @include font-family-and-style;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #7c7c7c;
  }

  &-block-text {
    @include font-family-and-style;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #5c5c5c;
    margin-top: 13px;
  }
}

.instagram {
  background-color: #f7f7f7;
  height: 100%;

  &-content {
    width: $content-width;
    margin: 47px auto;

    .instagram-title {
      display: flex;
      justify-content: space-between;

      .instagram-text {
        @include font-family-and-style;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        color: $text-color;
        margin-bottom: 24px;
      }
    }

    .instagram-images {
      display: flex;
      justify-content: space-between;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #000;

  &-content {
    @include flex-column;
    width: 684px;

    .footer-title {
      @include font-family-and-style;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;
      text-align: center;
      color: #fefefe;
      padding: 66px 0 22px;
    }

    .footer-text {
      @include font-family-and-style;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      color: $footer-text-color;
      margin-bottom: 37px;
    }

    .footer-logo {
      display: flex;
      justify-content: center;
      gap: 6px;
    }
    .footer-contacts {
      @include font-family-and-style;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      padding: 34px 0 70px;
      color: $footer-text-color;
      text-decoration: none;
    }
  }
}
